[
  {sasl, [
      {sasl_error_logger, false},
      {utc_log, true}
  ]},

  {lager, [
%% log levels: none, debug, info, notice, warning, error, critical, alert, emergency
    {error_logger_redirect, true},
    {log_root, "logs"},
    {handlers, [
      {lager_file_backend, [
         {level, debug},
         {file, "miner.debug.log"},
         {formatter, lager_default_formatter},
         {formatter_config, [
            date, " ", time, " [",severity,"] ", pid, " ", 
            {module, [module, ":"], [""]}, 
            {function, [function, ":"], [""]}, 
            {line, [line], [""]},
%            {endtype, [" -", endtype, "- "], [" - "]}, 
            "\n", message, "\n"
         ]}
      ]},
      {lager_console_backend, [
         info,
         {lager_default_formatter, [
            date, " ", time, " ", message, "\n"
         ]}
      ]},
      {lager_file_backend, [
         {level, warning},
         {file, "miner.warning.log"},
         {size, 10485760}, 
         {date, "$D0"}, 
         {count, 10},
         {formatter, lager_default_formatter},
         {formatter_config, [
            date, " ",
            time, " ",
            message, 
            "\n"
         ]}
      ]}
%      {lager_file_backend, [{file, "common.log.txt"}, {level, info}]}
    ]},
    {traces, [
    ]}
  ]}
].